* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F3F4F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
}

h2, p {
    text-align: center;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
}

ul {
    list-style: none;
    padding-left: 0;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
}

ul li {
    margin-bottom: 10px;
}

.timer {
    font-size: 48px;
    font-weight: bold;
    color: #6B46C1;
    margin-bottom: 20px;
}

.image-content {
    margin-top: 15px;
    text-align: center;
}

.image-content img {
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.image-content ul {
    list-style: none;
    padding-left: 0;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
}

.image-content ul li {
    padding-left: 0;
    margin-bottom: 8px;
}

.button-container {
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}